name: build and push stage images
on:
  push:
    branches:
      - main
jobs:
  build-and-push:
    name: Build Image
    runs-on: ubuntu-latest
    environment:
      name: Prod
    steps:

      - name: checkout the code
        uses: actions/checkout@v3

      - name: login to docker hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_KEY }}

      - name: build and push react image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./docker/prod/nginx.Dockerfile
          push: true
          tags: osama10dev/test-portainer:0.1.${{ github.run_number }}

      - name: update the stack
        run: sed -i "s/%%%image%%%/osama10dev/test-portainer:0.1.${{ github.run_number }}/g" docker/prod/swarm/docker-compose.yml
